html,
body {
    height: 99%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow: hidden;
}

#map {
    height: 93vh;
    /*can play around with these numbers */
    width: 76vw;
    scale: 0.98;
    align-items: flex-end;
}


.map-holder {
    display: inline-block;
}


.map-holder {
    display: inline-block;
}

/* Nav Bar on home page - majority of styling accomplished with materialize */


#evie-nav {
    /* height : fit-content; */
    max-width: 60px;
    padding: 12px 0px 0px 20px;
}

.navContent li {
    color: black;
}

.enable {
    color: black;
}

.disable {
    color: rgb(176, 162, 162);
}

.disable:hover {
    cursor: not-allowed;
}

/*Adjusting central logo*/
/* temporary fix for logo not centering the way it should */
.eVieLogo {
    display: flex;
    justify-content: space-around;
    padding-top: 95px;
    padding-left: 70px;
}

.searchBtn {
    background-color: #2f7598;
}

.searchBtn:hover {
    background-color: #607d8b;
}

/* Search field in sidebar*/

#searchInput {
    padding: 5px;
}

::placeholder {
    color: rgb(116, 121, 116);
    font-style: italic;
}

.row {
    margin-top: 3px;
}

/* Control the left side */

#listLoc {
    height: 80%;
    position: fixed;
    overflow: auto;
}

p {
    margin: 0px;
}

.selectList {
    border-bottom: 1px solid rgb(176, 162, 162);
    padding-bottom: 5px;
}
