/* Nav Bar on home page - majority of styling accomplished with materialize */
#evie-nav{
    /* height : fit-content; */
    max-width: 60px;
    padding: 12px 0px 0px 20px;
}

.navContent li  {
    color: black;
}

.enable {
    color: black;
}

.disable {
    color: rgb(176, 162, 162);
}

.disable:hover {
    cursor: not-allowed;
}

/*Adjusting central logo*/
/* temporary fix for logo not centering the way it should */
.eVieLogo {
    display: flex;
    justify-content: center;
    padding-top: 200px; /*increase this number to center object on screen more*/
    
}

.searchBtn {
    background-color:#2f7598 ;
}

.searchBtn:hover {
    background-color:#607d8b ;
}

.input-field {
    justify-content: center;
}
